@layer theme, base, antd, components, utilities;
@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  height: 100dvh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  @apply bg-gray-200 dark:bg-gray-900 text-gray-800 dark:text-gray-200;
}
